# die folgenden Dateitypen und Ordner werden nicht ins git aufgenommen!

# KiCAD:
*.bak
*.brd
*.kicad_pcb-bak
*.gif
*.ps
gerber/*

.directory
..directory.kate-swp

# LTSpice
*.log
*.raw

# STM32 Kompilat und Zubehördaten:

*.a
*.o
*.hex
*.elf
*.eep
*.d
*.bin
*.map
